---
import "../styles/global.css";
import "../styles/blogs.css";
import ScrollBlur from "../components/Scroll Blur.astro";
import Footer from "../components/Footer.astro";

const allPosts = Object.values(
  import.meta.glob("./blogs/*.md", { eager: true })
);

const sortedPosts = allPosts.sort((a, b) => {
  const dateA = new Date(a.frontmatter.pubDate);
  const dateB = new Date(b.frontmatter.pubDate);
  return dateB - dateA;
});
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Daniyal Master's Blogs. Articles on project updates, passionate topics, and tech."
    />
    <link rel="icon" type="image/png" sizes="32x32" href="Logo.png" />
    <title>Blog | Daniyal Master</title>
  </head>
  <body>
    <div class="maincontainer">
      <ScrollBlur />

      <div class="grid-wrapper">
        <section class="blog-posts-section">
          <div class="blog-section-top">
            <h1 class="blog-section-title">Blog Posts</h1>
            <p class="blog-section-description">
              I post developer and tech blogs every Friday
            </p>
          </div>

          <div class="blog-posts">
            {
              sortedPosts.map((post, index) => (
                <div key={post.url}>
                  <a class="post-link" href={post.url}>
                    <div class="post">
                      <div class="blog-content">
                        <h2 class="post-title">{post.frontmatter.title}</h2>
                        <div class="published-date">
                          <p class="published">{post.frontmatter.pubDate}</p>
                        </div>
                      </div>
                      <div class="read-more">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 16 16"
                          class="arrow"
                        >
                          <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M9.75 4.75 13.25 8m0 0-3.5 3.25M13.25 8H2.75"
                          />
                        </svg>
                      </div>
                    </div>
                  </a>

                  {index !== sortedPosts.length - 1 && <hr class="blog-hr" />}
                </div>
              ))
            }
          </div>
        </section>
      </div>

      <Footer />
    </div>
  </body>
</html>
