---
import "../styles/global.css";
import ScrollProgress from "../components/Scroll Progress.astro";
import ScrollBlur from "../components/Scroll Blur.astro";
import Footer from "../components/Footer.astro";
const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Daniyal Master's Blog Article." />
    <link rel="icon" type="image/png" sizes="32x32" href="/Logo.png" />
    <title>{frontmatter.pageTitle}</title>
  </head>
  <body>
    <div class="maincontainer">
      <ScrollBlur />
      <ScrollProgress />

      <section class="post-section">
        <div class="blog-top">
          <a class="all-posts" href="/blogs">
            <p>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 16 16"
                class="arrow"
              >
                <g transform="scale(-1,1) translate(-16,0)">
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9.75 4.75 13.25 8m0 0-3.5 3.25M13.25 8H2.75"></path>
                </g>
              </svg>

              View all posts
            </p>
          </a>

          <h1>{frontmatter.title}</h1>
        </div>

        <div class="post-information">
          <p><span>Published:</span> {frontmatter.pubDate}</p>
          <p>{frontmatter.readingTime}</p>
          <hr class="post-hr" />
        </div>

        <section class="blog-content">
          <slot />
        </section>
      </section>

      <Footer />
    </div>
  </body>

  <style>
    .maincontainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .post-section {
      width: 100%;
      margin-top: 90px;
      animation: var(--fadeIn);
    }

    .blog-top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .blog-top h1 {
      color: var(--purple);
      font-size: 2rem;
      font-family: var(--Inter);
      font-weight: 650;
      text-align: left;
      width: 600px;
    }

    .post-hr {
      width: 37.5rem;
      border: var(--hr);
      margin-top: 3rem;
      margin-bottom: 3rem;
    }

    .post-information {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
    }

    .all-posts {
      text-decoration: none;
    }

    .all-posts p {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .arrow {
      color: var(--secondary-grey);
      height: 16px;
      width: 16px;
      font-family: var(--Inter);
      font-weight: 650;
      cursor: pointer;
      transition: var(--ease-in-out);
    }

    .arrow:hover {
      color: var(--primary-grey);
    }

    .blog-top p,
    .post-information p {
      color: var(--secondary-grey);
      font-size: 16px;
      font-family: var(--Inter);
      font-weight: 400;
      letter-spacing: 0.023px;
      line-height: 1rem;
      width: 600px;
      text-align: left;
    }

    .blog-top p {
      cursor: pointer;
      margin-bottom: 4rem;
      transition: var(--ease-in-out);
    }

    .blog-top p:hover {
      color: var(--primary-grey);
    }

    .post-information p {
      margin-top: 0.75rem;
    }

    span {
      color: var(--primary-grey);
    }

    .blog-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    .blog-content :global(h2) {
      color: var(--primary-grey);
      font-family: var(--Inter);
      font-size: 1.35rem;
      font-weight: 600;
      line-height: 1.25rem;
      text-align: left;
      width: 600px;
      margin-top: 3rem;
    }

    .blog-content :global(p) {
      color: var(--secondary-grey);
      font-size: 1rem;
      font-family: var(--Inter);
      font-weight: 400;
      line-height: 1.75rem;
      letter-spacing: 0.023rem;
      width: 600px;
      margin-top: 1.75rem;
      margin-bottom: 1.75rem;
      text-align: left;
    }
  </style>
</html>
