---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import ScrollProgress from "../components/Scroll Progress.astro";
import ScrollBlur from "../components/Scroll Blur.astro";
import Footer from "../components/Footer.astro";
const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={frontmatter.description} />
    <link
      rel="icon"
      type="image/webp"
      sizes="32x32"
      href="../../Daniyal Master.webp"
    />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <title>{frontmatter.pageTitle}</title>
  </head>
  <body>
    <div class="maincontainer">
      <ScrollBlur />
      <ScrollProgress />
      <Navigation />

      <section class="project-section">
        <section class="project-top-section">
          <div class="project-top">
            <a class="all-projects" href="/projects">
              <p>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 16 16"
                  class="arrow"
                >
                  <g transform="scale(-1,1) translate(-16,0)">
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M9.75 4.75 13.25 8m0 0-3.5 3.25M13.25 8H2.75"></path>
                  </g>
                </svg> View more projects
              </p>
            </a>

            <h1>{frontmatter.title}</h1>
          </div>

          <div class="project-information">
            <p><span>Published:</span> {frontmatter.date}</p>
            <p><span>Created by:</span> {frontmatter.creator}</p>
            <hr class="project-hr" />
          </div>
        </section>

        <section class="project-content">
          <slot />
        </section>
      </section>

      <Footer />
    </div>
  </body>
</html>

<style>
  .maincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .project-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 90px;
    opacity: 0;
    animation: fadeIn var(--fadeInDuration) forwards;
  }

  .project-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-top h1 {
    color: var(--purple);
    font-size: 2rem;
    font-family: var(--Inter);
    font-weight: 650;
    text-align: left;
    width: 600px;
  }

  .project-hr {
    width: 37.5rem;
    border: var(--hr);
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .project-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  .all-projects {
    text-decoration: none;
  }

  .all-projects p {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .arrow {
    color: var(--secondary-grey);
    height: 16px;
    width: 16px;
    font-family: var(--Inter);
    font-weight: 650;
    cursor: pointer;
    transition: var(--ease-in-out);
  }

  .arrow:hover {
    color: var(--primary-grey);
  }

  .project-top p,
  .project-information p {
    color: var(--secondary-grey);
    font-size: 16px;
    font-family: var(--Inter);
    font-weight: 400;
    letter-spacing: 0.023px;
    line-height: 1rem;
    width: 600px;
    text-align: left;
  }

  .project-top p {
    cursor: pointer;
    margin-bottom: 2rem;
    transition: var(--ease-in-out);
  }

  .project-top p:hover {
    color: var(--primary-grey);
  }

  .project-information p {
    margin-top: 0.75rem;
  }

  span {
    color: var(--primary-grey);
  }

  .project-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 600px;
  }

  .project-content :global(img) {
    width: 600px;
    height: 350px;
    border-radius: 1.2rem;
    margin-bottom: 3rem;
    object-fit: cover;
  }

  .project-content :global(h2) {
    color: var(--primary-grey);
    font-family: var(--Inter);
    font-size: 1.35rem;
    font-weight: 500;
    line-height: 1.25rem;
    text-align: left;
    width: 600px;
    margin-top: 3rem;
  }

  .project-content :global(p),
  .project-content :global(em),
  .project-content :global(li),
  .project-content :global(a) {
    color: var(--secondary-grey);
    font-size: 1rem;
    font-family: var(--Inter);
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 0.023rem;
    width: 600px;
    text-align: left;
  }

  .project-content :global(p),
  .project-content :global(em) {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
  }

  .project-content :global(em) {
    font-style: italic;
  }

  .project-content :global(ul) {
    padding-inline-start: 0.925rem;
  }

  .project-content :global(li) {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .project-content :global(li::marker) {
    color: var(--purple);
  }

  .project-content :global(li:nth-child(1)) {
    margin-top: 1.75rem;
  }

  @media (prefers-reduced-motion: reduce) {
    .project-section {
      opacity: 1;
    }
  }
</style>
